.root {
	appearance: none;
	border: 1px solid #d1d5db;
	border-radius: 3px;
	padding: 8px 12px;
	padding-left: 38px;
	outline: none;
	box-sizing: border-box;
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23D1D5DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 8px;
	background-color: #ffffff;

	&[disabled] {
		background-color: #f9fafb;
		cursor: not-allowed;
	}

	&:focus {
		border-color: #2563eb;
		box-shadow: 0 0 0 2px #bfdbfe;
	}
}

.root::placeholder {
	color: #9ca3af;
}
